//Header

$lightgrey: #D8D8D8;
$darkgrey: #3d3d3d;
$orange: #FF8F1D;
$black: #2D2D2D;
$white: #fff;

// General 

.button {
	border-radius: 5px!important;
	text-transform: none!important;
}

// Layout

#wrapper {
	padding: 0 12px 24px!important;
}
.two-col-left {
	#main {
		border-right: 2px dashed $lightgrey;
		padding-right: 12px;
		width: 635px!important;
		float: left!important
	}
	#sidebar {
		width: 300px!important;
		margin-top: 0!important;
		clear: none!important;
		float: right!important;
	}
}
.col-full {
	width: 960px!important;	
}
#content {
	padding-top: 0;
}
.page .title {
	margin: 0;
}

// Header

#header {
	.header-content {
		float: right;
		width: 780px;
		.tagline {
			float: left;
			padding-top: 35px;
			// h1 {
			// 	color: $darkgrey;
			// 	font-size: 35px;
			// 	line-height: 0.9em;
			// }
			h2 {
				color: $darkgrey;
				font-size: 24px;
				line-height: 18px;
			}
		}
		.header-buttons {
			float: right;
			padding-top: 25px;			
			a {
				background: $orange;
				&:hover {
					background: darken($orange, 5%);
				}
			}
		}
	}		
}

// Navigation

nav#navigation,
nav#footer-navigation {
	margin-bottom: 25px!important;
	width: 960px;
	background: #5b5b5b;
	border-top: 0px solid #dbdbdb;
	border-bottom: 0px solid #dbdbdb;
	border-left: 0px solid #dbdbdb;
	border-right: 0px solid #dbdbdb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	.searchform {
		width: 190px;
		float: right;
		border-width: 1px;
		border-color: $orange;
		background: $orange;
		margin-top: 10px;
		height: auto;
		input.s {
			background: $white;
			float: left;
			width: 146px;
			padding: 5px 8px;
			border-radius: 2px;
		}		
		button.submit {
			background: $orange;
			float: right;
			position: relative;
			width: 28px;
			right: 0;
			top: 0;
			color: $white!important;
			font-size: 12px;
			&::before {
				color: $white!important;
			}
		}
	}
	.header-social {
		padding: 11px 15px;
		i {
			font-size: 25px;
			color: $white;
			margin: 0 5px;
			&:hover {
				color: $orange;
			}
		}
	}
	h3 {
		display: none;
	}
	ul.nav {
		width: auto;
		li {
			position: relative;
			float: left;
			zoom: 1;
			list-style: none;
			border-right: 0px solid #dbdbdb;
			border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
			a {
				font: 300 15px/1.2em 'Droid Sans', arial, sans-serif;
				color: #ffffff;
				display: block;
				padding-top: 1em !important;
				padding-bottom: 1em !important;
				&:after {
					color: #fff!important;
					font-weight: normal!important;
				}
				&:hover {
					background-color: #5b5b5b!important;
					color: #ff8f1d!important;
				}
			}
			&.current-menu-item {
				a {
					background-color: #5b5b5b!important;
					color: #ff8f1d!important;
				}
			}			
		}
	}
	ul li:first-child,
	ul li:first-child a {
		border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
	}
}
.ubermenu .ubermenu-target {
	padding: 15px!important;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target {
	padding-right: 25px!important;
}

// Home

.featured {
	border: 1px solid $lightgrey;
	height: 248px;
	margin-bottom: 25px;
	position: relative;
	.image {
		width: 385px;
		float: left;		
		img {
			width: 385px;
			height: 248px;
		}
	}
	.copy {
		float: right;
		padding: 10px 15px;
		width: 218px;
		h2 {
			font-size: 18px;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 10px;
		}
	}
	.article-cat {
		background-color: $black;
		padding: 5px;
		color: $white;
		border-radius: 3px;
	}
	.related {
		margin-top: 10px;
		list-style: disc inside;
		font-size: 10px;
	}
	i {
		font-size: 20px;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(000,000,000,0.6);
		padding: 8px;		
		color: $orange;
		border-radius: 0 0 5px 0;
	}
}

// Archives

.post-block {
	border: 1px solid $lightgrey;
	margin-bottom: 20px;
	width: 310px;
	position: relative;
	.image {
		width: 145px;
		height: 145px;
		margin-right: 5px;
		float: left;
		img {
			width: 145px;
			height: 145px;
		}
	}
	.copy {
		padding: 8px;
		h3 {
			font-size: 12px;
			margin-bottom: 5px;
		}
		p {
			font-size: 11px;
		}
	}
	i {
		font-size: 20px;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(000,000,000,0.6);
		padding: 8px;
		color: $orange;
		border-radius: 0 0 5px 0;	
	}
	&.large {
		margin-bottom: 25px;
		height: 250px;
		.image {
			position: relative;
			width: 100%;
			float: none;
			margin-right: 0;
			img {
				width: 310px;
				height: 145px;
			}
		}
		.article-cat {
			background-color: $black;
			padding: 5px;
			color: $white;
			border-radius: 3px;
			position: absolute;
			bottom: 0;
			left: 10px;
		}
		.copy {
			h3 {
				font-size: 14px;
				margin-bottom: 5px;
			}
			p {
				font-size: 12px;
			}
		}
	}
	
}

// Post Content 

.entry {
	img {
		padding: 0!important;
		// width: 100%;
	}
	.wp-caption {
		border-radius: 0;
		padding: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		width: 300px!important;
		&.alignleft,
		&.alignright {
			margin-bottom: 5px;
		}
		.wp-caption-text {
			font-family: 'Droid Sans', arial, sans-serif;
			font-size: 11px;
			padding: 5px;
			margin: 0;
		}		
	}
}

// Pagination

.woo-pagination {
	margin-top: 20px;
	.page-numbers {		
		font-size: 12px!important;
		padding: 10px 15px!important;		
		&:hover,
		&.current {
			background: $orange;
			color: $white!important;
			border-radius: 3px;
		}		
	}
}

// Sidebar Widgets

#sidebar {
	.widget {
		border: 1px solid $lightgrey;
		margin-bottom: 25px;
		h3 {
			margin: 0;
			padding: 10px;
			background: $orange;
			color: $white;
			text-align: center;
		}
		&.widget_text,
		&.widget_healthe_latest_post {
			.copy {
				padding: 8px;
				h4 {
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}
		&.widget_woo_tabs {
			border: none;
			ul.wooTabs {
				li a {
					text-transform: none;
					font-size: 14px;
					&.selected,
					&:hover {
						background: $orange;						
						color: $white;
						border-color: $orange;
					}
				}				
			}
			.boxes.box.inside {
				border-top: 1px solid $orange;
			}		
		}
		&.widget_tag_cloud {
			.tagcloud {
				padding: 8px;
			}
		}
	}
}


// Footer

#footer-widgets {
	border-top: 0;
	padding: 0;
	.block {
		padding-top: 0;
		width: 295px!important;
		float: left!important;
		margin-right: 37px!important;		
		.widget {
			margin-bottom: 15px;
		}
		.footer-buttons {
			margin-bottom: 15px;
			a {
				background: $orange;
				&:hover {
					background: darken($orange, 5%);
				}
			}
		}
		.footer-social {
			padding: 15px 0;
			i {
				font-size: 25px;
				color: $black;
				margin: 0 10px 0 0;
				&:hover {
					color: $orange;
				}
			}
		}
		&.footer-widget-1 {
			margin-left: 0!important;
			h4 {
				margin-bottom: 20px;
			}
		}
		&.footer-widget-2 {
			width: 210px!important;
			margin-left: 85px!important;
		}
		&.footer-widget-3 {
			margin-right: 0!important;
		}
	}
		
}
#footer {
	.col-left,
	.col-right {
		margin-bottom: 0;
	}
}

// Modals

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#subscribe-modal,
#contact-modal {
	width: 600px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
	// height: 550px;
	overflow-x: hidden;
	// overflow-y: scroll;
	.gform_wrapper {
		max-width: 100%;
		margin: 0;
		overflow: visible;
		.gform_heading {
			margin-bottom: 15px;
			h3.gform_title {
				font-size: 22px;
				margin: 0;
			}
		}
		
		.twocol-one {
			margin-bottom: 0;
		}
		li.gfield {
			margin: 0;
			p {
				margin-bottom: 15px;
			}
			h4 {
				margin-bottom: 5px;
			}
		}
		.gfield_label {
			margin: 8px 0 3px 0;
		}
		input {
			margin-bottom: 0;
		}
		.gform_footer {
			margin-top: 15px;
			padding-top: 15px;			
			// text-align: center;				
			input {
				font-size: 14px;
				width: 160px;
			}
		}
		textarea.textarea {
			margin: 0;
			width: 98.5%;
		}
	}
}
#contact-modal {
	.gform_wrapper {
		.gform_footer {
			margin-top: 0;
			padding-top: 10px;
		}
	}
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	z-index: 2;
	font-size: 20px;
	cursor: pointer;
}

// Reused from Previous Child

/* ---------- Clinic Banner ---------- */
.clinic-link {
	display: block!important;
	background: url(images/map.png) no-repeat 55px #ED8522!important;
	padding: 35px!important;
	border-radius: 0!important;
}
.clinic-link p {
	font-size: 20px;
	text-align: center;
	color: $white;
}
.clinic-link strong {
	font-size: 30px;
	display: block;
	text-align: center;
}
.clinic-link span {
	white-space: normal;
	display: block;
	text-align: center!important;
	line-height: 16px;
}

/* ---------- Clinics ---------- */

.clinic {
	margin-bottom: 20px;
	padding-bottom: 20px;
	.post-meta {
		font-size: 14px;
		margin-bottom: 0;
		padding: 10px 0;
		.tax-title {
			width: 70px;
			border-right: 1px solid #dedede;
			margin-right: 10px;
			padding-right: 10px;
			display: inline-block;
		}
	}
	.fields {
		list-style: none;
		padding: 10px;
		background: #f2f2f2;
		li {
			padding: 2px 0;
			i {
				font-size: 16px;
				width: 20px;
				display: inline-block;
				float: left;
			}
		}
		.pipe {
				color: #999;
		}
	}
	span p {
		display: inline;
	}
}
.archive .geomap {
	margin-bottom: 20px;
	visibility: hidden;
}
.archive .clinic {
	border-bottom: 1px solid #ccc;
}
.single .clinic .fields {
	margin: 10px 0 20px;
}


/* ---------- Related Content ---------- */

.related-content {
	padding: 20px 0;
}
.related-content h3 {
	margin-bottom: 10px;
}
.related-content ul {
	list-style: inside;
}

/* ---------- CSS Map - hide before load ---------- */

#cssmap-container li {
  display: none;
}