.button {
  border-radius: 5px !important;
  text-transform: none !important; }

#wrapper {
  padding: 0 12px 24px !important; }

.two-col-left #main {
  border-right: 2px dashed #d8d8d8;
  padding-right: 12px;
  width: 635px !important;
  float: left !important; }
.two-col-left #sidebar {
  width: 300px !important;
  margin-top: 0 !important;
  clear: none !important;
  float: right !important; }

.col-full {
  width: 960px !important; }

#content {
  padding-top: 0; }

.page .title {
  margin: 0; }

#header .header-content {
  float: right;
  width: 780px; }
  #header .header-content .tagline {
    float: left;
    padding-top: 35px; }
    #header .header-content .tagline h2 {
      color: #3d3d3d;
      font-size: 24px;
      line-height: 18px; }
  #header .header-content .header-buttons {
    float: right;
    padding-top: 25px; }
    #header .header-content .header-buttons a {
      background: #ff8f1d; }
      #header .header-content .header-buttons a:hover {
        background: #ff8203; }

nav#navigation,
nav#footer-navigation {
  margin-bottom: 25px !important;
  width: 960px;
  background: #5b5b5b;
  border-top: 0px solid #dbdbdb;
  border-bottom: 0px solid #dbdbdb;
  border-left: 0px solid #dbdbdb;
  border-right: 0px solid #dbdbdb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  nav#navigation .searchform,
  nav#footer-navigation .searchform {
    width: 190px;
    float: right;
    border-width: 1px;
    border-color: #ff8f1d;
    background: #ff8f1d;
    margin-top: 10px;
    height: auto; }
    nav#navigation .searchform input.s,
    nav#footer-navigation .searchform input.s {
      background: white;
      float: left;
      width: 146px;
      padding: 5px 8px;
      border-radius: 2px; }
    nav#navigation .searchform button.submit,
    nav#footer-navigation .searchform button.submit {
      background: #ff8f1d;
      float: right;
      position: relative;
      width: 28px;
      right: 0;
      top: 0;
      color: white !important;
      font-size: 12px; }
      nav#navigation .searchform button.submit::before,
      nav#footer-navigation .searchform button.submit::before {
        color: white !important; }
  nav#navigation .header-social,
  nav#footer-navigation .header-social {
    padding: 11px 15px; }
    nav#navigation .header-social i,
    nav#footer-navigation .header-social i {
      font-size: 25px;
      color: white;
      margin: 0 5px; }
      nav#navigation .header-social i:hover,
      nav#footer-navigation .header-social i:hover {
        color: #ff8f1d; }
  nav#navigation h3,
  nav#footer-navigation h3 {
    display: none; }
  nav#navigation ul.nav,
  nav#footer-navigation ul.nav {
    width: auto; }
    nav#navigation ul.nav li,
    nav#footer-navigation ul.nav li {
      position: relative;
      float: left;
      zoom: 1;
      list-style: none;
      border-right: 0px solid #dbdbdb;
      border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px; }
      nav#navigation ul.nav li a,
      nav#footer-navigation ul.nav li a {
        font: 300 15px/1.2em 'Droid Sans', arial, sans-serif;
        color: #ffffff;
        display: block;
        padding-top: 1em !important;
        padding-bottom: 1em !important; }
        nav#navigation ul.nav li a:after,
        nav#footer-navigation ul.nav li a:after {
          color: white !important;
          font-weight: normal !important; }
        nav#navigation ul.nav li a:hover,
        nav#footer-navigation ul.nav li a:hover {
          background-color: #5b5b5b !important;
          color: #ff8f1d !important; }
      nav#navigation ul.nav li.current-menu-item a,
      nav#footer-navigation ul.nav li.current-menu-item a {
        background-color: #5b5b5b !important;
        color: #ff8f1d !important; }
  nav#navigation ul li:first-child,
  nav#navigation ul li:first-child a,
  nav#footer-navigation ul li:first-child,
  nav#footer-navigation ul li:first-child a {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px; }

.ubermenu .ubermenu-target {
  padding: 15px !important; }

.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target {
  padding-right: 25px !important; }

.featured {
  border: 1px solid #d8d8d8;
  height: 248px;
  margin-bottom: 25px;
  position: relative; }
  .featured .image {
    width: 385px;
    float: left; }
    .featured .image img {
      width: 385px;
      height: 248px; }
  .featured .copy {
    float: right;
    padding: 10px 15px;
    width: 218px; }
    .featured .copy h2 {
      font-size: 18px;
      margin-bottom: 5px; }
    .featured .copy p {
      margin-bottom: 10px; }
  .featured .article-cat {
    background-color: #2d2d2d;
    padding: 5px;
    color: white;
    border-radius: 3px; }
  .featured .related {
    margin-top: 10px;
    list-style: disc inside;
    font-size: 10px; }
  .featured i {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    color: #ff8f1d;
    border-radius: 0 0 5px 0; }

.post-block {
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  width: 310px;
  position: relative; }
  .post-block .image {
    width: 145px;
    height: 145px;
    margin-right: 5px;
    float: left; }
    .post-block .image img {
      width: 145px;
      height: 145px; }
  .post-block .copy {
    padding: 8px; }
    .post-block .copy h3 {
      font-size: 12px;
      margin-bottom: 5px; }
    .post-block .copy p {
      font-size: 11px; }
  .post-block i {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    color: #ff8f1d;
    border-radius: 0 0 5px 0; }
  .post-block.large {
    margin-bottom: 25px;
    height: 250px; }
    .post-block.large .image {
      position: relative;
      width: 100%;
      float: none;
      margin-right: 0; }
      .post-block.large .image img {
        width: 310px;
        height: 145px; }
    .post-block.large .article-cat {
      background-color: #2d2d2d;
      padding: 5px;
      color: white;
      border-radius: 3px;
      position: absolute;
      bottom: 0;
      left: 10px; }
    .post-block.large .copy h3 {
      font-size: 14px;
      margin-bottom: 5px; }
    .post-block.large .copy p {
      font-size: 12px; }

.entry img {
  padding: 0 !important; }
.entry .wp-caption {
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 300px !important; }
  .entry .wp-caption.alignleft, .entry .wp-caption.alignright {
    margin-bottom: 5px; }
  .entry .wp-caption .wp-caption-text {
    font-family: 'Droid Sans', arial, sans-serif;
    font-size: 11px;
    padding: 5px;
    margin: 0; }

.woo-pagination {
  margin-top: 20px; }
  .woo-pagination .page-numbers {
    font-size: 12px !important;
    padding: 10px 15px !important; }
    .woo-pagination .page-numbers:hover, .woo-pagination .page-numbers.current {
      background: #ff8f1d;
      color: white !important;
      border-radius: 3px; }

#sidebar .widget {
  border: 1px solid #d8d8d8;
  margin-bottom: 25px; }
  #sidebar .widget h3 {
    margin: 0;
    padding: 10px;
    background: #ff8f1d;
    color: white;
    text-align: center; }
  #sidebar .widget.widget_text .copy, #sidebar .widget.widget_healthe_latest_post .copy {
    padding: 8px; }
    #sidebar .widget.widget_text .copy h4, #sidebar .widget.widget_healthe_latest_post .copy h4 {
      font-size: 14px;
      margin-bottom: 5px; }
  #sidebar .widget.widget_woo_tabs {
    border: none; }
    #sidebar .widget.widget_woo_tabs ul.wooTabs li a {
      text-transform: none;
      font-size: 14px; }
      #sidebar .widget.widget_woo_tabs ul.wooTabs li a.selected, #sidebar .widget.widget_woo_tabs ul.wooTabs li a:hover {
        background: #ff8f1d;
        color: white;
        border-color: #ff8f1d; }
    #sidebar .widget.widget_woo_tabs .boxes.box.inside {
      border-top: 1px solid #ff8f1d; }
  #sidebar .widget.widget_tag_cloud .tagcloud {
    padding: 8px; }

#footer-widgets {
  border-top: 0;
  padding: 0; }
  #footer-widgets .block {
    padding-top: 0;
    width: 295px !important;
    float: left !important;
    margin-right: 37px !important; }
    #footer-widgets .block .widget {
      margin-bottom: 15px; }
    #footer-widgets .block .footer-buttons {
      margin-bottom: 15px; }
      #footer-widgets .block .footer-buttons a {
        background: #ff8f1d; }
        #footer-widgets .block .footer-buttons a:hover {
          background: #ff8203; }
    #footer-widgets .block .footer-social {
      padding: 15px 0; }
      #footer-widgets .block .footer-social i {
        font-size: 25px;
        color: #2d2d2d;
        margin: 0 10px 0 0; }
        #footer-widgets .block .footer-social i:hover {
          color: #ff8f1d; }
    #footer-widgets .block.footer-widget-1 {
      margin-left: 0 !important; }
      #footer-widgets .block.footer-widget-1 h4 {
        margin-bottom: 20px; }
    #footer-widgets .block.footer-widget-2 {
      width: 210px !important;
      margin-left: 85px !important; }
    #footer-widgets .block.footer-widget-3 {
      margin-right: 0 !important; }

#footer .col-left,
#footer .col-right {
  margin-bottom: 0; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

#subscribe-modal,
#contact-modal {
  width: 600px;
  padding: 30px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
  overflow-x: hidden; }
  #subscribe-modal .gform_wrapper,
  #contact-modal .gform_wrapper {
    max-width: 100%;
    margin: 0;
    overflow: visible; }
    #subscribe-modal .gform_wrapper .gform_heading,
    #contact-modal .gform_wrapper .gform_heading {
      margin-bottom: 15px; }
      #subscribe-modal .gform_wrapper .gform_heading h3.gform_title,
      #contact-modal .gform_wrapper .gform_heading h3.gform_title {
        font-size: 22px;
        margin: 0; }
    #subscribe-modal .gform_wrapper .twocol-one,
    #contact-modal .gform_wrapper .twocol-one {
      margin-bottom: 0; }
    #subscribe-modal .gform_wrapper li.gfield,
    #contact-modal .gform_wrapper li.gfield {
      margin: 0; }
      #subscribe-modal .gform_wrapper li.gfield p,
      #contact-modal .gform_wrapper li.gfield p {
        margin-bottom: 15px; }
      #subscribe-modal .gform_wrapper li.gfield h4,
      #contact-modal .gform_wrapper li.gfield h4 {
        margin-bottom: 5px; }
    #subscribe-modal .gform_wrapper .gfield_label,
    #contact-modal .gform_wrapper .gfield_label {
      margin: 8px 0 3px 0; }
    #subscribe-modal .gform_wrapper input,
    #contact-modal .gform_wrapper input {
      margin-bottom: 0; }
    #subscribe-modal .gform_wrapper .gform_footer,
    #contact-modal .gform_wrapper .gform_footer {
      margin-top: 15px;
      padding-top: 15px; }
      #subscribe-modal .gform_wrapper .gform_footer input,
      #contact-modal .gform_wrapper .gform_footer input {
        font-size: 14px;
        width: 160px; }
    #subscribe-modal .gform_wrapper textarea.textarea,
    #contact-modal .gform_wrapper textarea.textarea {
      margin: 0;
      width: 98.5%; }

#contact-modal .gform_wrapper .gform_footer {
  margin-top: 0;
  padding-top: 10px; }

.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  z-index: 2;
  font-size: 20px;
  cursor: pointer; }

/* ---------- Clinic Banner ---------- */
.clinic-link {
  display: block !important;
  background: url(images/map.png) no-repeat 55px #ed8522 !important;
  padding: 35px !important;
  border-radius: 0 !important; }

.clinic-link p {
  font-size: 20px;
  text-align: center;
  color: white; }

.clinic-link strong {
  font-size: 30px;
  display: block;
  text-align: center; }

.clinic-link span {
  white-space: normal;
  display: block;
  text-align: center !important;
  line-height: 16px; }

/* ---------- Clinics ---------- */
.clinic {
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .clinic .post-meta {
    font-size: 14px;
    margin-bottom: 0;
    padding: 10px 0; }
    .clinic .post-meta .tax-title {
      width: 70px;
      border-right: 1px solid #dedede;
      margin-right: 10px;
      padding-right: 10px;
      display: inline-block; }
  .clinic .fields {
    list-style: none;
    padding: 10px;
    background: #f2f2f2; }
    .clinic .fields li {
      padding: 2px 0; }
      .clinic .fields li i {
        font-size: 16px;
        width: 20px;
        display: inline-block;
        float: left; }
    .clinic .fields .pipe {
      color: #999; }
  .clinic span p {
    display: inline; }

.archive .geomap {
  margin-bottom: 20px;
  visibility: hidden; }

.archive .clinic {
  border-bottom: 1px solid #ccc; }

.single .clinic .fields {
  margin: 10px 0 20px; }

/* ---------- Related Content ---------- */
.related-content {
  padding: 20px 0; }

.related-content h3 {
  margin-bottom: 10px; }

.related-content ul {
  list-style: inside; }

/* ---------- CSS Map - hide before load ---------- */
#cssmap-container li {
  display: none; }
